share/LoadLineCalculator/tcplots/*.png filter=lfs diff=lfs merge=lfs -text
share/LoadLineCalculator/tcplots/12AY7.png filter=lfs diff=lfs merge=lfs -text
share/LoadLineCalculator/tcplots/6BQ5.png filter=lfs diff=lfs merge=lfs -text
share/LoadLineCalculator/tcplots/KT88.png filter=lfs diff=lfs merge=lfs -text
